In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [36]:
df=pd.read_csv(r"C:\Users\NEERA KUMARI\Downloads\archive (4)\spotify_millsongdata.csv",encoding='latin')

In [37]:
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [38]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [39]:
df.duplicated().sum()

0

In [40]:
df.sample(5000).drop("link",axis=1,inplace=True)

In [41]:
df.artist.value_counts()[:40].reset_index()

                index  artist
0        Donna Summer     191
1    Gordon Lightfoot     189
2           Bob Dylan     188
3       George Strait     188
4        Loretta Lynn     187
5                Cher     187
6             Alabama     187
7       Reba Mcentire     187
8          Chaka Khan     186
9         Dean Martin     186
10  Hank Williams Jr.     185
11         Neil Young     185
12           Nazareth     184
13      Cliff Richard     184
14            America     184
15       Indigo Girls     184
16               Kiss     183
17        Johnny Cash     183
18          Chris Rea     182
19           Bon Jovi     181
20       Dolly Parton     180
21      Fleetwood Mac     180
22        Deep Purple     179
23     Rolling Stones     179
24        Roy Orbison     178
25        The Beatles     178
26        Rod Stewart     178
27       Randy Travis     177
28          Morrissey     177
29       James Taylor     177
30           Iggy Pop     177
31    Michael Jackson     176
32   Michael W. Smith     176
33         Elton John     175
34  Bruce Springsteen     175
35  Dusty Springfield     175
36               Rush     175
37          Green Day     174
38       Alice Cooper     174
39         Air Supply     174

In [42]:
df["text"]

0        Look at her face, it's a wonderful face  \r\nA...
1        Take it easy with me, please  \r\nTouch me gen...
2        I'll never know why I had to go  \r\nWhy I had...
3        Making somebody happy is a question of give an...
4        Making somebody happy is a question of give an...
                               ...
57645    Irie days come on play  \r\nLet the angels fly...
57646    Power to the workers  \r\nMore power  \r\nPowe...
57647    all you need  \r\nis something i'll believe  \...
57648    northern star  \r\nam i frightened  \r\nwhere ...
57649    come in  \r\nmake yourself at home  \r\ni'm a ...
Name: text, Length: 57650, dtype: object

In [43]:
import nltk
from nltk.stem.porter import PorterStemmer

In [44]:
def preprocessing_text(text):
    text.lower().replace(r"^a-zA-Z"," ").replace("\n"," ")
    words=nltk.word_tokenize(text)
    msg=[PorterStemmer().stem(w) for w in words]
    
    return " ".join(msg)

In [45]:
df.text=df.text.apply(lambda x:preprocessing_text(x))

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
tfidf=TfidfVectorizer(stop_words="english",analyzer="word")
mat=tfidf.fit_transform(df["text"])

In [48]:
tfidf.get_feature_names_out()

array(['00', '000', '001', ..., 'zzt', 'zzzz', 'zzzzz'], dtype=object)

In [32]:
mat

<5000x16941 sparse matrix of type '<class 'numpy.float64'>'
	with 273821 stored elements in Compressed Sparse Row format>

In [28]:
similiar=cosine_similarity(mat)

In [51]:
idx=df[df.song=="As Good As New"].index
distance=sorted(list(enumerate(similiar[idx])),reverse=True,key=lambda x:x[1])
distance

[(0,
  array([0.01791646, 0.02105052, 1.        , ..., 0.02216273, 0.01491848,
         0.        ]))]

In [55]:
df=df.drop("link",axis=1)

In [50]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"look at her face , it 's a wonder face and it ..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"take it easi with me , pleas touch me gentli l..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,i 'll never know whi i had to go whi i had to ...
3,ABBA,Bang,/a/abba/bang_20598415.html,make somebodi happi is a question of give and ...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,make somebodi happi is a question of give and ...

In [57]:
def recommend(song_name):
    idx=df[df.song==song_name].index[0]
    distance=sorted(list(enumerate(similiar[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for id in distance[1:5]:
        song.append(df.iloc[id[0]].song)
    
    return song

In [58]:
recommend("Down In The Track")

['Someone Who Believes In You',
 'Helter Skelter',
 'Speed Of Sound',
 'Desperado Love']

In [59]:
import pickle 

pickle.dump(similiar,open("similiar","wb"))
pickle.dump(df,open("df","wb"))